<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="game.css">
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="game_data.js"></script>
<script src="game.js"></script>
<link rel="stylesheet" href="lib/animate.min.css">
<div id="game-container" ng-app="psi_game" ng-controller="PsiController">
	<div id="game_home" class="game-home-content" ng-class="{{gameHomeOut}}" ng-if='!gameContent'>
		<img class="game_home_bg"  src="../resources/shutterstock_1.jpg"></img>
		<div class="animated jello">
			<img class="question_bg"  src="../resources/001-2.png"></img>
			<div class="question_title">
				<div class="title-start">LỰA CHỌN CỦA BẠN ?</div>
			</div>
			<div class="button-start" ng-click="onPlay()">PLAY</div>
		</div>
		<div class="game_home_footer" >
			<img src="../resources/001-4.png"/>
		</div>
	</div>
	<div class="game-main-content" ng-if='gameContent'>
	 <div class="state-start">
		<img  src="../resources/g1.png"></img>
		<span class="state-description-text-content">START</span>
	</div>
	<div class="state-finish" ng-click="onFinish()">
		<img  src="../resources/g2.png"></img>
		<span class="state-description-text-content">FINISH</span>
	</div>
	
	<img class="game-main-logo" src="../resources/main-logo.png"></img>
	
	<img class="game-description animated rubberBand" src="../resources/002-1.png"></img>
	<img class="game-line-checkpoint" src="../resources/line_6.png"></img>
	
	<div ng-repeat="checkpoint in checkpointData track by $index">
		<check-point class="checkpoint-{{$index+1}}" checkpoint-id="{{$index}}" ng-show="selectedIndex==$index || selectedIndex==-2" class-active-param="'animated infinite rubberBand'" checkpoint-data="checkpoint" count-score="countScore" selected-index="selectedIndex"></check-point>
	</div>
	

	<div ng-if="showResult" class="checkpoint-content-main" style="z-index: 10;">
		<div class="checkpoint-content-main-bg animated bounceIn" >
			<img class="checkpoint-content-exit" src="../resources/xxx.png" ng-click="exitContentResult()"></img>
			<div class="checkpoint-content-header">
				<span class="checkpoint-content-header-text">{{finishResults.descriptionContent}}</span>
			</div>
			<div class="finish-result">
				<div ng-repeat="resultContent in finishResults.result track by $index">
					<div class="finish-result-content" >
						<a class="finish-result-content-a" ng-href="{{resultContent.link}}" target="_parent" >
							<img class="finish-result-content-img" ng-src="{{resultContent.image}}" ></img> 
						</a>						
					</div>
					<div class="finish-result-content-title">
						<span >{{resultContent.name}}</span>
					</div>
				</div>
			</div>
			
			<div class="finish-result-note">
				<span >{{finishResults.note}}</span>
			</div>
		</div>
	</div>
	</div>
</div>